<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\EditPost">
        <plugin name="aimanecouissi_newsletter_confirmation_suppress_customer_account_controller_edit_post_plugin"
                type="AimaneCouissi\NewsletterConfirmationSuppress\Plugin\Customer\Controller\Account\EditPostPlugin"/>
    </type>
</config>
